.counter_box {
    margin: 20px 50px;
    border: 1px solid rgb(238, 227, 227);
    background: #ccc;
    padding: 0 20px;
    border-radius: 8px;
}

.flex_box{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.btn{
    border: 1px solid rgb(28, 110, 218);
    background: rgb(38, 103, 224);
    border-radius: 4px;
    padding: 8px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

.circle_sm{
    transition-property: width, height, margin-left, margin-top;
    transition-duration: 2s;
    background: burlywood;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin-bottom: 20px;
}

.circle_lg{
    width: 200px;
    height: 200px;
}


.circle_message{
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}